body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  min-width: 320px;
  margin: 0;
  padding: 0;

  /* padding-bottom: 150px; */
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; /*контейнер располагается по центру*/
}
a {
  color: inherit;
  text-decoration: none;
}
a.header-info {
  margin-left: 74px;
}
.def-title {
  font-size: 42px;
  font-weight: 700;
  position: relative;
  margin-bottom: 25px;
  line-height: 1.4;
}

.def-title::before {
  /* полоска рядом с заголовком*/
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 30px; /* центрирование по вертикали*/
  /*transform: translateY(-50%); центрирование по вертикали */
  background-color: #d62e4c;
  left: calc(-100% - 25px);
}
.center-title {
  font-size: 42px;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-bottom: 40px;
}
.center-title::after {
  /* полоска по центру*/
  content: "";
  height: 1px;
  width: 70px;
  background-color: #d62e4c;
  display: block;
  margin: 0 auto 0 auto;
}

.center-title.color-white {
  color: white;
}

.center-title.color-white::after {
  background-color: #fff;
}
.def-desc {
  color: #6d6a6a;
  font-size: 14px;
  line-height: 1.9;
}

.def-desc strong {
  color: black;
}
.def-btn {
  background-color: #d62e4c;
  padding: 15px 45px;
  display: inline-block;
  transition: background-color 0.35s ease;
  font-size: 16px;
  color: #fff;
}
/* затемняет кнопку при наведении*/
.def-btn:hover {
  background-color: #bb2440;
}
/* Header START */
.header-top {
  background-color: #18353e;
  color: #fff;
  padding: 18px 0 50px 0;
  font-size: 14px;
}
.header-row {
  display: flex;
}
.header-right {
  display: flex;
  column-gap: 74px; /* Горизонтальные отступы между элементами*/
  margin-left: auto;
}
.header-social {
  display: flex;
  align-items: center; /*Центрирует по вертикали*/
  column-gap: 28px;
}
.header-info {
  display: flex;
  align-items: center;
  /* column-gap: 74px; */
}

.header-info img {
  margin-right: 16px;
  max-width: 21px;
}
.header-bottom {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
  top: 60px;
}
.header-bottom-row {
  display: flex;
  background-color: #d62e4c;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
}
.header-logo {
  background-color: #fff;
  padding: 15px 150px 15px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0px 0px, 100% 0%, 82.5% 100%, 0px 100%);
}
.header-nav {
  padding: 10px 60px;
  margin-left: auto; /*ставит объекты по правому краю*/
}
.header-logo img {
  max-width: 300px;
}
.header-nav ul {
  display: flex;
  list-style-type: none; /*Убирает точки у списка*/
  padding: 0;
  column-gap: 50px;
}

/* Header END */
/* Banner START */
.banner-swiper .swiper-slide {
  padding: 175px 0;
  color: #fff;
  text-align: center;
}
.banner-swiper .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 31, 31, 0.8);
  z-index: -1;
}

.banner-content {
  max-width: 750px;
  margin: 0 auto;
}
.banner-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.banner-title {
  font-size: 46px;
  font-weight: 300;
  line-height: 1.3;
}
.banner-swiper .swiper-button-prev,
.banner-swiper .swiper-button-next {
  color: #fff;
  background-color: #5a5454;
  width: 60px;
  height: 60px;
}

.banner-swiper .swiper-button-prev:after,
.banner-swiper .swiper-button-next:after {
  font-size: 28px;
}

.banner-swiper .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 0;
  background-color: #d9d9d9;
  opacity: 1;
}

.banner-swiper .swiper-pagination-bullet-active {
  background-color: #d62e4c;
}

.banner-swiper.swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 10px;
}

.banner-swiper.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 50px;
}
/* Banner END */

/* About START*/
.s-about {
  padding: 90px 0;
}
.about-row {
  display: flex;
  align-items: center;
}

.s-about .def-desc {
  margin-bottom: 30px;
}

.about-left {
  margin-right: 90px;
  max-width: 505px;
}

.about-right {
  width: 550px;
}

.about-right img {
  /*адаптивное изображение (делается пропорциональным при уменьшении*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* About END */
/* Numbers START */
.s-numbers {
  background-color: #18353e;
  color: #fff;
  padding: 72px 0;
}
.s-numbers .def-title::before {
  background-color: #fff;
}
.numbers-row {
  display: flex;
}
.numbers-left {
  width: 50%;
  padding-right: 100px;
  border-right: 1px solid #d5d5d5;
}
.numbers-right {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  row-gap: 60px;
  text-align: center;
}
.numbers-num {
  font-size: 52px;
  font-weight: 900;
  margin-bottom: 5px;
  line-height: 1.3;
}
.numbers-desc {
  font-weight: 300;
}
/* Numbers END */

/*Services START*/
.s-services {
  padding: 100px 0;
}
.services-row {
  display: flex;
  column-gap: 35px;
}
.services-item {
  box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.15);
}
.services-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services-body {
  padding: 15px 20px 30px 20px;
}
.services-title {
  font-size: 20px;
}
.services-btn {
  width: 100%;
  text-align: center;
  padding: 12px 0px;
}

.modal-form {
  background-color: #fff;
  max-width: 455px;
  margin: 0 auto;
  padding: 20px 45px 50px 45px;
}

.modal-form-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d5d2d2;
  margin-bottom: 30px;
  padding-bottom: 18px;
}

.modal-form-logo img {
  max-width: 190px;
}
.modal-form-close {
  cursor: pointer;
}

.modal-form-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}
.modal-form-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 70px;
  background-color: #d62e4c;
  margin: 20px auto 0 auto;
}
.modal-form input {
  display: block;
  padding: 22px 25px;
  background-color: #f6f6f6;
  font-family: "Montserrat";
  border: none;
  max-width: 405px;
  width: 100%;
  outline: none;
  margin-bottom: 24px;
  font-size: 14px;
}

.modal-form .form-button {
  background-color: #d62e4c;
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  max-width: 285px;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 20px 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.modal-form .form-button:hover {
  background-color: #c32a45;
}
/* ====== Zoom effect ====== */
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/*Services END*/
