body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  min-width: 320px;
  margin: 0;
  padding: 0;
  /* padding-bottom: 150px; */
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; /*контейнер располагается по центру*/
}
a {
  color: inherit;
  text-decoration: none;
}
a.header-info {
  margin-left: 74px;
}
/* Header START */
.header-top {
  background-color: #18353e;
  color: #fff;
  padding: 18px 0 50px 0;
  font-size: 14px;
}
.header-row {
  display: flex;
}
.header-right {
  display: flex;
  column-gap: 74px; /* Горизонтальные отступы между элементами*/
  margin-left: auto;
}
.header-social {
  display: flex;
  align-items: center; /*Центрирует по вертикали*/
  column-gap: 28px;
}
.header-info {
  display: flex;
  align-items: center;
  /* column-gap: 74px; */
}

.header-info img {
  margin-right: 16px;
  max-width: 21px;
}
.header-bottom {
  margin-top: -40px; /*Поднимает плашку чуть наверх*/
}
.header-bottom-row {
  display: flex;
  background-color: #d62e4c;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
}
.header-logo {
  background-color: #fff;
  padding: 15px 150px 15px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0px 0px, 100% 0%, 82.5% 100%, 0px 100%);
}
.header-nav {
  padding: 10px 60px;
  margin-left: auto; /*ставит объекты по правому краю*/
}
.header-logo img {
  max-width: 300px;
}
.header-nav ul {
  display: flex;
  list-style-type: none; /*Убирает точки у списка*/
  padding: 0;
  column-gap: 50px;
}

/* Header END */
